<section class="container-fluid" id="contact">
    <div class="contact-me">
        <h2 class="heading-2">Get In Touch</h2>
        <a class="no-mgn-btn btn btn-outline-dark btn-lg" href="mailto:caiolauro@gmail.com" target="_blank"
            rel="noopener noreferrer">Contact me</a>
    </div>
</section>