<section class="container-fluid" id="footer">
    <a class="footer-link" href="https://www.linkedin.com/in/caio-lauro/" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-linkedin fa-2x"></i></a>
    <p class="copy-right">© 2023 Caio Lauro @ Data Engineering</p>
</section>