    <section class="opening-section" id="title">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg  navbar-dark">
                <h1 class="navbar-brand img">Data & Software Engineer</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarTogglerDemo01">

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link"
                                href="https://drive.google.com/file/d/1yDGkFpd0xCt9oDjkG7Q6g2QLfJ0fLTDu/view?usp=sharing"
                                target="_blank" rel="noopener noreferrer">CV</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#projects">Projects.</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Get in Touch.</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="background-img row">
                <div class="col col-lg-6">
                    <h1 class="heading">Hi, I'm Caio</h1>
                    <p class="profile-description">A business professional turned into a Data Engineer due to his belief in
                        data and
                        programming to drive positive business transformations.</p>
                </div>
            </div>
        </div>
    </section>