<section class="container-fluid" id="projects">
    <h2 class="heading-2">My Projects</h2>
    <div class="row">
        <div class="col col-lg-4 col-md-6">
            <div class="card projectContent">
                <h1 class="project-header card-header">Airbnb Analytics Engineering with dbt</h1>
                <img src="images/dbtAirbnbDAG.png" alt="dbtAirbnbDataLineage">
                <div class="card-body">
                    <p class="card-text">✔ Adoption of multiple dbt features (incremental materializations,
                        tests, Jinja
                        and Macros, sources, seeds, docs, Analyses, Exposures, etc.) to build a comprehensive
                        data pipeline
                        using Airbnb real
                        data.</p>
                    <a href="https://github.com/caiolauro/airbnb-dbt-pipeline" target="_blank"
                        rel="noopener noreferrer" class="no-mgn-btn btn btn-dark"><i
                            class="fab fa-github"></i>Github</a>
                </div>
            </div>
        </div>

        <div class="col col-lg-4 col-md-6">
            <div class="card projectContent">
                <h1 class="project-header card-header">SnowIngest</h1>
                <img src=" https://github.com/caiolauro/SnowIngest/blob/main/images/snowIngestPipeline.png?raw=true"
                    alt="snowIngestDiagram">
                <div class="card-body">
                    <p class="card-text">✔ Demonstration of Snowflake Synchronous Ingestion having S3 as a
                        staging layer
                        receiving
                        data from a Flask Web App.</p>
                    <a href="https://github.com/caiolauro/SnowIngest" target="_blank" rel="noopener noreferrer"
                        class="no-mgn-btn btn btn-dark"><i class="fab fa-github"></i>Github</a>
                </div>
            </div>
        </div>

        <div class="col col-lg-4 col-md-6">
            <div class="card projectContent">
                <h1 class="project-header card-header">Preply WebScraping</h1>
                <img src="images/preply_scraping.png" alt="preply_scraping">
                <div class="card-body">
                    <p class="card-text">
                        ✔ Scraps +1.2K pages of data from english tutors across all over the world.
                        <br>
                        ✔ Downloads english tutors Thumbnail images.
                        <br>
                        ✔ Compile scraped information into comprehensive JSON objects & DataFrame.
                    </p>
                    <a href="https://github.com/caiolauro/preply_web_scrapping" target="_blank"
                        rel="noopener noreferrer" class="no-mgn-btn btn btn-dark"><i
                            class="fab fa-github"></i>Github</a>
                </div>
            </div>
        </div>

        <div class="col col-lg-4 col-md-6">

            <div class="card projectContent">
                <h1 class="project-header card-header">Airflow Sample Pipelines</h1>
                <img src="https://airflow.apache.org/docs/apache-airflow/stable/_images/dags.png"
                    alt="Airflow_img">
                <div class="card-body">
                    <p class="card-text">
                        ✔ Airflow DAG for Weather API Calls.<br>
                        ✔ Airflow DAG to send Slack & Email Alerts based on certain logic.<br>
                    </p>
                    <a href="https://gitlab.com/c2564/airflowpipelines" target="_blank"
                        rel="noopener noreferrer" class="no-mgn-btn btn btn-dark"><i
                            class="fab fa-gitlab"></i>Gitlab</a>
                </div>
            </div>


        </div>
        <div class="col col-lg-4 col-md-6">
            <div class="card projectContent">
                <h1 class="project-header card-header">PBIWhatsAppReporting</h1>
                <img src="images/pbi_selenium.png" alt="pbi_selenium">
                <div class="card-body">
                    <p class="card-text">
                        ✔ Selenium to acess PowerBI Account & Download PDF Reports.<br>
                        ✔ Stores Reports in Google Drive.<br>
                        ✔ Sends PDF reports to WhatsApp.
                    </p>
                    <a href="https://github.com/caiolauro/powerbi_reporting_automation" target="_blank"
                        rel="noopener noreferrer" class="no-mgn-btn btn btn-dark"><i
                            class="fab fa-github"></i>Github</a>
                </div>
            </div>

        </div>
        <div class="col col-lg-4 col-md-6">
            <div class="card projectContent">
                <h1 class="project-header card-header">Airflow & dbt Demo</h1>
                <img src="https://images.ctfassets.net/bsbv786nih7n/6RQfCOAaPk2hHg9tfJ0pAF/3839a07d6260e6dfd2dcb42aa222d643/airflow-dbt.png?fm=webp&w=980"
                    alt="Airflow_dbt_img">
                <div class="card-body">
                    <p class="card-text">
                        ✔ Demonstration on how to use Airflow to trigger dbt jobs
                    </p>
                    <a href="https://gitlab.com/caiolauro/airflow-dbt-demo" target="_blank"
                        rel="noopener noreferrer" class="no-mgn-btn btn btn-dark"><i
                            class="fab fa-gitlab"></i>Gitlab</a>
                </div>
            </div>


        </div>
        <div class="col col-lg-4 col-md-6">
            <div class="card projectContent">
                <h1 class="project-header card-header">PySparkDataPipe</h1>
                <img src=" https://github.com/caiolauro/PySparkDataPipe/blob/main/images/sta_pipeline.png?raw=true  "
                    alt="streamingPipeline">
                <div class="card-body">
                    <p class="card-text">
                        ✔ Use of PySpark to perform ETL operations. <br>
                        ✔ Design a comprehensive Data Pipeline capable of ingesting Streaming App data into DW.
                    </p>
                    <a href="https://github.com/caiolauro/PySparkDataPipe" target="_blank"
                        rel="noopener noreferrer" class="no-mgn-btn btn btn-dark"><i
                            class="fab fa-github"></i>Github</a>
                </div>
            </div>
        </div>
    </div>



</section>