<section id="skills">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-12">
                <h1 class="heading-2">Skills.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-4 col-md-6">
                <ul class="skill-list list-group">
                    <button class="skill-title btn btn-outline-dark active" type="button"
                        data-bs-toggle="collapse" data-bs-target="#skill-items" aria-expanded="false"
                        aria-controls="multiCollapseExample2">
                        Programming Languages</button>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">Python</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">SQL</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">Javascript</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">bash scripting</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">C++</li>
                </ul>
            </div>
            <div class="col col-lg-4 col-md-6">
                <ul class="skill-list list-group">
                    <button class="skill-title btn btn-outline-dark active" type="button"
                        data-bs-toggle="collapse" data-bs-target="#skill-items" aria-expanded="false"
                        aria-controls="multiCollapseExample2">
                        Data Pipelines</button>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">Data Modeling</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">Airflow Orchestration
                    </li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">Snowflake Cloud</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">dbt</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">Spark (Pyspark)</li>

                </ul>
            </div>
            <div class="col col-lg-4 col-md-6">
                <ul class="skill-list list-group">
                    <button class="skill-title btn btn-outline-dark active" type="button"
                        data-bs-toggle="collapse" data-bs-target="#skill-items" aria-expanded="false"
                        aria-controls="multiCollapseExample2">
                        DevOps</button>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">Terraform (AWS &
                        Snowflake)</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">Gitlab CI/CD</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">Configuration as Code
                        (YML files)</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">Data Dog</li>
                </ul>
            </div>
            <div class="col col-lg-4 col-md-6 col-12">
                <ul class="skill-list list-group">
                    <button class="skill-title btn btn-outline-dark active" type="button"
                        data-bs-toggle="collapse" data-bs-target="#skill-items" aria-expanded="false"
                        aria-controls="multiCollapseExample2">
                        Data Viz</button>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">Power BI</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">Google Data Studio</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">QuickSight</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">Redash</li>
                </ul>
            </div>
            <div class="col col-lg-4 col-md-6 col-12">
                <ul class="skill-list list-group">
                    <button class="skill-title btn btn-outline-dark active" type="button"
                        data-bs-toggle="collapse" data-bs-target="#skill-items" aria-expanded="false"
                        aria-controls="multiCollapseExample2">
                        Python Programming</button>
                    <li class="collapse multi-collapse list-group-item" id="skill-items"> Scraping with Selenium
                    </li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">Flask</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">API REST</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">Data wrangling (JSON,
                        pandas, etc)</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">OOP</li>
                </ul>
            </div>
            <div class="col col-lg-4 col-md-6 col-12">
                <ul class="skill-list list-group">
                    <button class="skill-title btn btn-outline-dark active" type="button"
                        data-bs-toggle="collapse" data-bs-target="#skill-items" aria-expanded="false"
                        aria-controls="multiCollapseExample2">Web
                        Development</button>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">HTML</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">CSS</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">Bootstrap</li>
                    <li class="collapse multi-collapse list-group-item" id="skill-items">NodeJS/Express</li>
                </ul>
            </div>
        </div>

    </div>
</section>