body {
    margin: 0px;
    margin-top: 0px;
    text-align: center;
    font-family: "Poppins", Arial;
    background-color: white;
}

h1 {
    font-size: 5.625rem;
    color: #66BFBF;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    line-height: 2;
}
h2 {
    margin-top: 0px;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    font-style: normal;
}
h3 {
    color: #11999E;
    display: block;
    font-weight: bold;
    font-style: normal;
    margin: 0px;
}
.underline {
    text-decoration: underline;
}
hr {
    border-top: 10px  dotted #EAF6F6;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    width: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
}
p {
    font-family: Montserrat;
}
a {
    color: #11999E  ;
    text-decoration: none;
    margin: 20px;
}

a:hover {
    color: #EAF6F6;
}
.top-container {    
    padding-top: 50px;
    background-color: rgb(226, 249, 240);
}
.right-coding-image {
    display: inline;    
    position: fixed;
    right: 1%;
    width: 100px;
    height: 100px;
}

.left-bike-image {
    display: inline;    
    position: fixed;
    left: 1%;
    width: 100px;
    height: 100px;
}

.profile-img {
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 50%;
    width: 12.5%;
    height: 200px;
}
.profile-description {
    margin: 10px auto 100px;
    width: 30%;
}
.middle-container {
    
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px;
    text-align: left;
    line-height: 2;
}
.skills-img-left {
    display: inline-block;
    width: 25%;
    margin-bottom: 30px;
    float: left;
    margin-right: 30px
}
.skills-img-right {
    display: inline-block;
    width: 25%;
    margin-bottom: 30px;
    float: right;
    margin-left: 30px;   
}

.code-skill-description-left {
    clear: left;
}
.code-skill-description-right {
    clear: right;
}

.contact-me {
    margin: 100px auto 100px;
}

.contact-description {
    margin-bottom: 50px;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0px 20px;

}
.footer-link {  
    color: #11999E;
    font-size: 20px;
}

.copy-right {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }