body {
    font-family: "Josefin Sans", Arial;
    background-color: white;
    text-align: left;
}
.projectContent {
    text-align: center;
}
/* Navigation bar */
.navbar {
    margin-bottom: 7%;
    width: calc(100% - 100px);
}

.navbar-brand {
    font-weight: 400;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 400;
}

/* Opening Section */

.opening-section {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/004/827/519/original/technology-plexus-network-background-free-video.jpg');
    background-color: black;
    color: #fff;
    padding: 0 6.5% 7% 15%;
}

/* Profile */

.background-image {
    background-image: url('https://ncube-digest.com/wp-content/uploads/2020/02/shutterstock_1134885563-1.jpg');
}

.heading {
    color: white;
    font-weight: 900;
    font-size: calc(3.5vw + 3.5em);
}

.profile-description {
    font-size: calc(1vw + 1em);
}


#introVideo {
    display: None;
    height: 600px;
}

.underline {
    text-decoration: underline;
}

a {
    text-decoration: none;
    margin: 20px;
}

a:hover {
    color: #EAF6F6;
}

/* Skills section */

#skills {
    background-color: #fff;
    padding: 7% 15%;
}

.skill-list {
    padding-bottom: 50px;
}

.skill-title {
    font-size: 1.5rem;
    font-family: "Josefin Sans";
}

.heading-2 {
    margin-bottom: 2%;
    color: #000;
    font-weight: 900;
    font-size: calc(3.5vw + 3.5em);
}


/* Project Section */

#projects {
    background-color: #000;
    padding: 7% 15%;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/004/827/519/original/technology-plexus-network-background-free-video.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#projects .heading-2 {
    color: #fff;
}

.project-header {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Josefin Sans";
    font-style: normal;
    text-align: center;
    background-color: #06283D;
    color: white;
}

.project-desc {
    text-align: left;
}
.card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
    border-radius: 6px;
    text-align: center;
    border-width: 0;

}
.list-group {
    font-family: "Montserrat";
}

.no-mgn-btn {
    margin: 0;
}

/* Contact Section */

#contact .heading-2 {
    font-size: 3rem;
}

.contact-me {
    margin: 100px auto 100px;
    text-align: center;
}


/* Footer Section */

#footer {
    background-color: #000;
    padding: 50px 0px 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/004/827/519/original/technology-plexus-network-background-free-video.jpg');
   
}

.footer-link {
    color: #fff;
    font-size: 20px;
}

.copy-right {
    color: #fff;
    font-size: 0.75rem;
    padding: 20px 0;
}

/* Helpers */

/* Image Opacity Helpers */
.demo-wrap {
    overflow: hidden;
    position: relative;
}

.demo-content {
    position: relative;
}

.demo-bg {
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}