<%- include("partials/header") %>
<body>
    <%- include("partials/nav") %>
    <%- include("partials/skills") %>
    <%- include("partials/projects") %>
    <%- include("partials/contact") %>
    <%- include("partials/footer") %>
</body>